# Node modules (frontend y backend)
node_modules/
**/node_modules/

# Build de Ionic
www/
dist/
.angular/
# Plataformas nativas (se regeneran con Capacitor)
android/
ios/

# Archivos de entorno reales
backend/.env
.env

# Subidas de imágenes (se regeneran al usar la app)
backend/uploads/

# Otros
dist/
.tmp/
.DS_Store
.idea/
.vscode/
